#ignore .ipynb files
.ipynb_checkpoints
*.ipynb_checkpoints
**.ipynb_checkpoints
***.ipynb_checkpoints
notebook.ipynb

#ignore DS_Store
.DS_Store
*/.DS_Store
**.DS_Store

#ignore images
outputs/small-world/*
outputs/scale-free/*
outputs/random/*
